.hero {
    position: relative;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('../assets/images/mdfpic9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

.hero-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--text-color2);
    width: 100%;
    padding: 0 2rem;
}

.hero-text h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 0.8s ease forwards 0.5s;
}

.hero-text p {
    color: #fff;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.8s ease forwards 0.8s;
}